
h1{
    text-align-last: center;
}
td{
text-align: center;
}

#buttonleft{
    background-image: url(doppelpfeil.png);
}

#buttonright{
    background-image: url(doppelpfeil.png);
    transform: rotate(180);
}

#buttonsset{
    text-align: center;
}

table{
    margin-left: auto;
    margin-right: auto;
    border-color: black;
    padding: 30px;
}

#table1{
    align-content: center;
    
}

*{
    background-color: azure;
}

.KalenderTag{
    border-style: groove;
    border-color: black;
    padding-right: 30px;
    padding-bottom: 15px;
    padding-top: 15px;
}

.hour1, .hour2, .hour3, .hour4, .KalenderEintrag1, .KalenderEintrag2, .KalenderEintrag3, .KalenderEintrag4, .KalenderEintrag5, .KalenderEintrag6, .KalenderEintrag7, .KalenderEintrag8, .KalenderEintrag9, .KalenderEintrag10, .KalenderEintrag11, .KalenderEintrag12, .KalenderEintrag13, .KalenderEintrag14, .KalenderEintrag15, .KalenderEintrag16, .KalenderEintrag17, .KalenderEintrag18, .KalenderEintrag19, .KalenderEintrag20, .KalenderEintrag21, .KalenderEintrag22, .KalenderEintrag23, .KalenderEintrag24, .KalenderEintrag25, .KalenderEintrag26, .KalenderEintrag27, .KalenderEintrag28{
    border-style: groove;
    padding-right: 30px;
    padding-bottom: 30px;
}

#plus{
    vertical-align: middle;
}
#TerminEingabe{
    text-align: center;
    display: inline;
}

